@import "tailwindcss";
@plugin '../../../packages/ui/src/hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../../packages/ui/node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
